<app-navbar></app-navbar>

<div class="col_producto container">

<h2>Desarrollo en Angular</h2>

    <div class="grid_product">
        <div class="img_product">
            <img src="../../../assets/img/curso1.jpg" alt="">
            <div class="precio">
                <p> <span>Precio:</span> MXN $150</p>
            </div>
        </div>

        <div class="descrip_pro">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ex facilis assumenda, distinctio vitae incidunt est pariatur, id quam laborum provident officia. Numquam, aut rem doloremque laboriosam fuga repudiandae architecto.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut nesciunt libero aperiam itaque amet quae ullam eligendi natus nihil quaerat dignissimos, sed illum eos vero cumque ipsum minus harum quibusdam?</p>
        </div>

        

    </div>

    <a href="#" class="btn">Agregar al carrito</a>
    
</div>


