<section>
    <div class="centrado">
        <h1>Agregar productos</h1>
        <div class="detalles-producto">
            <form action="">
                <label for="name">Nombre: </label>
                <input type="text" id="name">

                <label for="category">Categoria: </label>
                <input type="text" id="category">

                <label for="sub-category">Subcategoria: </label>
                <input type="text" id="sub-category">

                <label for="price">Precio: </label>
                <input type="text" id="price">

                <label for="cant">Cantidad: </label>
                <input type="text" id="cant">

                <label for="des-min">Descripcion miniatura: </label>
                <input type="text" id="des-min">

                <label for="des-gen">Descripcion general: </label>
                <input type="text" id="des-gen">
            </form>
            <div class="imagen-producto">
                <label for="img">Agregar Imagen
                </label>
                <input type="file" name="" id="img">
                <img src="../../../assets/img/caja.png" alt="Imagen producto" title="Imagen producto">
            </div>
        </div>

        <div class="boton">
            <button class="btn-1">Agregar</button>
        </div>
    </div>
</section>

<section>
    <div class="centrado">
        <table class="tabla">
            <tr class="tabla-color">
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Sub-Categoria</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Modificar/Eliminar</th>
            </tr>
            <tr>
                <td>Producto 1</td>
                <td>Curso</td>
                <td>C#</td>
                <td>$150</td>
                <td>1</td>
                <td class="iconos">
                    <a href="#">
                        <img src="../../../assets/img/editar.png" alt="Modificar" width="30">
                    </a>
                    <a href="#">
                        <img src="../../../assets/img/bote-de-basura.png" alt="Eliminar" width="30">
                    </a>
                </td>
            </tr>
            <tr>
                <td>Producto 2</td>
                <td>Curso</td>
                <td>Java</td>
                <td>$120</td>
                <td>2</td>
                <td class="iconos">
                    <a href="#">
                        <img src="../../../assets/img/editar.png" alt="Modificar" width="30">
                    </a>
                    <a href="#">
                        <img src="../../../assets/img/bote-de-basura.png" alt="Eliminar" width="30">
                    </a>
                </td>
            </tr>
            <tr>
                <td>Producto 3</td>
                <td>Curso</td>
                <td>JavaScript</td>
                <td>$140</td>
                <td>1</td>
                <td class="iconos">
                    <a href="#">
                        <img src="../../../assets/img/editar.png" alt="Modificar" width="30">
                    </a>
                    <a href="#">
                        <img src="../../../assets/img/bote-de-basura.png" alt="Eliminar" width="30">
                    </a>
                </td>
            </tr>
            <tr>
                <td>Producto 4</td>
                <td>Curso</td>
                <td>Python</td>
                <td>$150</td>
                <td>1</td>
                <td class="iconos">
                    <a href="#">
                        <img src="../../../assets/img/editar.png" alt="Modificar" width="30">
                    </a>
                    <a href="#">
                        <img src="../../../assets/img/bote-de-basura.png" alt="Eliminar" width="30">
                    </a>
                </td>
            </tr>
            <tr>
                <td>Producto 5</td>
                <td>Curso</td>
                <td>VisualBasic</td>
                <td>$100</td>
                <td>1</td>
                <td class="iconos">
                    <a href="#">
                        <img src="../../../assets/img/editar.png" alt="Modificar" width="30">
                    </a>
                    <a href="#">
                        <img src="../../../assets/img/bote-de-basura.png" alt="Eliminar" width="30">
                    </a>
                </td>
            </tr>
            <tr>
                <td>Producto 6</td>
                <td>Curso</td>
                <td>C</td>
                <td>$180</td>
                <td>1</td>
                <td class="iconos">
                    <a href="#">
                        <img src="../../../assets/img/editar.png" alt="Modificar" width="30">
                    </a>
                    <a href="#">
                        <img src="../../../assets/img/bote-de-basura.png" alt="Eliminar" width="30">
                    </a>
                </td>
            </tr>
            <tr>
                <td>Producto 7</td>
                <td>Curso</td>
                <td>C++</td>
                <td>$190</td>
                <td>1</td>
                <td class="iconos">
                    <a href="#">
                        <img src="../../../assets/img/editar.png" alt="Modificar" width="30">
                    </a>
                    <a href="#">
                        <img src="../../../assets/img/bote-de-basura.png" alt="Eliminar" width="30">
                    </a>
                </td>
            </tr>
            <tr>
                <td>Producto 8</td>
                <td>Curso</td>
                <td>Kotlin</td>
                <td>$280</td>
                <td>1</td>
                <td class="iconos">
                    <a href="#">
                        <img src="../../../assets/img/editar.png" alt="Modificar" width="30">
                    </a>
                    <a href="#">
                        <img src="../../../assets/img/bote-de-basura.png" alt="Eliminar" width="30">
                    </a>
                </td>
            </tr>
            <tr>
                <td>Producto 9</td>
                <td>Curso</td>
                <td>Go</td>
                <td>$190</td>
                <td>1</td>
                <td class="iconos">
                    <a href="#">
                        <img src="../../../assets/img/editar.png" alt="Modificar" width="30">
                    </a>
                    <a href="#">
                        <img src="../../../assets/img/bote-de-basura.png" alt="Eliminar" width="30">
                    </a>
                </td>
            </tr>
            <tr>
                <td>Producto 10</td>
                <td>Curso</td>
                <td>Angular</td>
                <td>$199</td>
                <td>1</td>
                <td class="iconos">
                    <a href="#">
                        <img src="../../../assets/img/editar.png" alt="Modificar" width="30">
                    </a>
                    <a href="#">
                        <img src="../../../assets/img/bote-de-basura.png" alt="Eliminar" width="30">
                    </a>
                </td>
            </tr>
        </table>
    </div>
</section>